@model SocialMusic.Models.User
@{
    ViewBag.Title = "Index";
}


<div class="logInBox">
    @using (Html.BeginForm("Login", "Home"))
    {
        <p class="siteLogo">Social<strong>Music</strong></p>
        <br/>
        @Html.EditorFor(s => s.Username, new { htmlAttributes = new { placeholder = "Username" } });
        <br/>
        @Html.EditorFor(s => s.Password, new { htmlAttributes = new { placeholder = "Password" } });
        <br/>
        <button type="submit" class="logInButton">Login</button>
    }
</div>

