@model SocialMusic.Models.User

<div class="logInBox">

    <p class="siteLogo">Social<strong>Music</strong></p>
    <br />
    <form id="message">
        <input type="text" id="usernameInput" />
        <br />
        <input type="password" id="passwordInput" />
        <br />
        <button type="submit" class="logInButton">Login</button>
    </form>
    <h1 id="errorMessage"></h1>
    <h3>Not a member? @Html.ActionLink("Register", "Register") </h3>
    <h3>@Html.ActionLink("Users", "Index", "Users") </h3>


</div>


<script>
    
    $('#message').submit(function (e) {
        /*Prevents the page to reaload like it normaly should*/
        e.preventDefault()
        /*Do the post through Ajax*/
        $.ajax({
            type: 'POST',
            url: '/Home/LogIn',
            data: {
                username: $('#usernameInput').val(),
                password: $('#passwordInput').val()
            },
            success: function (data){
                if (!data.success && data.message == "loginerror") {
                    $('#errorMessage').text("Wrong Username or Password")
                }
            }
        })
        /*Sets the text input to empty*/
        $('#passwordInput').val('')
    })
</script>

