@model SocialMusic.Models.WallMessage[]

<h2 id="wall">Wall</h2>


<ul>
    @foreach (var message in Model)
    {
        <li>@message.Message</li>
    }
</ul>

<div class="wallBox" id="wallBox">
    @using (Html.BeginForm())
    {
        @Html.EditorFor(s => s[Model.Length - 1].Message);
        <br />
        <button type="submit" class="logInButton">Login</button>
        <br />
    }

</div>
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script>
    var URL = '@Url.Content("~")';

    $('form').submit(function () {
        $.ajax({
            type: 'POST',
            url: URL + 'wallmessages/PostToWall',
            data: { message: $(this).serialize() }
        })
    })
</script>