@model SocialMusic.Models.WallMessage[]

<div class="wallBox"> 
    <p class="siteLogo">W<strong>all</strong></p>
    <div class="scrollDiv">
        <ul class="wallList">
            @for (int i = Model.Length - 1; i > 0; i--)
            {
                <li>@Model[i].Message</li>
            }
        </ul>
    </div>

    <form id="message">
        <input type="text" id="input" />
        <br />
        <button type="submit" class="logInButton">Post</button>
    </form>

</div>

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script>
    $('#message').submit(function () {
        $.ajax({
            type: 'POST',
            url: '/wallmessages/PostToWall',
            data: { message: $('#input').val() }
        })
    })


    //$('form').submit(function (e) {
    //    e.preventDefault();
    //    //event.preventDefault(); //So that we don't refresh every time
        
    //    console.log($('form').serializeArray());
    //    $.ajax({
    //        type: 'POST',
    //        url: URL + 'wallmessages/PostToWall',
    //        data: { message: $(this).serialize() }
    //    })
    //})
</script>