<!DOCTYPE html>

<html>
    <div>
        ﻿
        <h2>Welcome to your profile</h2>
    @using (Html.BeginForm("Logout", "Home"))
    {
        <button type="submit" class="logOutButton">Logout</button>
    }
    <h3>@Html.ActionLink("Users", "Index", "Users") </h3>
</div>
@{Html.RenderAction("TopAlbumsAndArtists", "Album");}
@{ Html.RenderAction("Messages", "WallMessages");}