@model SocialMusic.Models.User[]

<h2>Users</h2>

<ul>
    @foreach (var user in Model)
    {       
        <li>@Html.ActionLink(user.Username, "Index", "PublicProfile/" + user.Username) </li>
    }
</ul>