<div>
    <h3>Search Album</h3>
    <input type="text" id="albumName" size="5" />
    <input type="button" value="Search" onclick="Socialmusic.albumSearch()" />
    <p id="album" />
</div>
<ul id="album" />



