<div>
    <h3>Search Album</h3>
    <form id="searchForm">
        <input name="name" type="text" id="albumName" size="5" />
        <input type="submit" value="submit" />
    </form>
    <p id="album" />
</div>
<ul id="albumList" />



