body {
    background-image: url("http://wallpaperlayer.com/img/2015/1/blurred-city-lights-wallpaper-7607-7901-hd-wallpapers.jpg");
}
.siteLogo{
    font-family: 'Gruppo', cursive;
    font-size: 70px;
    font-weight: 100;
    color: #eaf2ff;
    margin: 1px;
}
.logInBox{
    text-align: center;
    position: relative;
    transform: translateY(100%);
}
.scrollDiv{
    position: relative;
    background-color: rgba(255, 255, 255, 0.3);
    margin-left: auto;
    margin-right: auto;
    width:520px;
    border-radius: 5px;
    height:150px;
    overflow:auto;
}
.wallList{
    list-style-type: none;
    
}
.wallList li{
    margin: 10px;
    background: rgba(68, 196, 151, 0.3);
    text-align: left;
    color: white;
}

input[type=text], select {
    background-color: rgba(70, 91, 111, 0.3);
    width: 25%;
    text-align: center;
    color: white;
    padding: 8px 20px;
    margin: 8px 0;
    border-radius: 5px;  
    border-color: rgba(70, 91, 111, 0.0);
}
.form-control{
    background-color: rgba(70, 91, 111, 0.3);
    width: 25%;
    text-align: center;
    color: white;
    padding: 8px 20px;
    margin: 8px 0;
    border-radius: 5px;  
    border-color: rgba(70, 91, 111, 0.0);
}
h1{
    font-family: 'Gruppo', cursive;
    font-size: 60px;
    font-weight: 100;
    color: #eaf2ff;
}
h3{
    font-family: 'Gruppo', cursive;
    font-size: 20px;
    font-weight: 100;
    color: #eaf2ff;
}

.logInButton {
    margin: 8px 0;
    width: 27%;
    background-color: rgba(68, 196, 151, 0.4); 
    border: none;
    border-radius: 5px;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.logInButton:hover {
      background-color: rgba(68, 196, 151, 0.8); 
}

/*WALL SECTION*/
.wallBox{
    text-align: center;
    position: relative;
    transform: translateY(100%);
}