@model SocialMusic.Models.ArtistAlbumViewModel

<h2>Albums</h2>

<div>
<h2>All Albums</h2>

  </div>
<div>
    
    <ul>
        @foreach (var album in Model.Albums)
        {
            <li>@album.Name - @album.Artist</li>
        }
    </ul>   
    <ul>
        @foreach (var artist in Model.Artists)
        {
            <li>@artist.Name</li>
        }
    </ul>      
    <input type="text" id="albumName" size="5" />
    <input type="button" value="Search" onclick="find();" />
    <p id="album" />
</div>
<ul id="album" />

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script>
    var uri = '/api/albumapi';
    var url = 'http://ws.audioscrobbler.com/2.0/?method=album.search&{1}={2}&api_key={3}&format=json'
    var apiKey = '7d063e651df846f5a4c10e618858189e'

    /*$(document).ready(function () {
      // Send an AJAX request
      $.getJSON(uri)
          .done(function (data) {
            // On success, 'data' contains a list of albums.
            $.each(data, function (key, item) {
              // Add a list item for the albums.
              $('<li>', { text: formatItem(item) }).appendTo($('#album'));
            });
          });
    });*/

    function formatItem(item) {
        console.log(item)
        return item.results.albummatches.album[0].name + ' - ' + item.results.albummatches.album[0].artist;
    }

    function find() {
        $('#album').empty();
      var name = $('#albumName').val();
      $.getJSON('http://ws.audioscrobbler.com/2.0/?method=album.search&album=' + name + '&api_key=' + apiKey + '&format=json')
          .done(function (data) {
              var number = 0
              while (number < 5) {
                  $('<li>', { text: data.results.albummatches.album[number].name + ' - ' + data.results.albummatches.album[number].artist }).appendTo($('#album'));
                  number++;
              }            
          })
          .fail(function (jqXHR, textStatus, err) {
            $('#album').text('Error: ' + err);
          });
    }
</script>